<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {% seo title=false %}
  {% feed_meta %}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />

  <!-- syntax -->
  <link rel="stylesheet" href="{{ "/assets/lib/highlight.js-11.0.0/ascetic.css" | relative_url }}">
  <script src="{{ "/assets/lib/highlight.js-11.0.0/highlight.min.js" | relative_url }}"></script>
  <script>hljs.highlightAll();</script>

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/image/favicon/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/image/favicon/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/image/favicon/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "/assets/image/favicon/site.webmanifest" | relative_url }}">
  <link rel="mask-icon" href="{{ "/assets/image/favicon/safari-pinned-tab.svg" | relative_url }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">
</head>